@import '../../../assets/scss/now-ui-dashboard/variables';

:ng-deep {

  html,
  body {
    height: 100%;
  }
}

.container {
  height: 100%;

}

.registerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 100px auto;
  margin-top: 50px;
  background: #fff;
  padding: 20px 0px;
  .form-group {
    .form-control {
      padding: 0px 5px;
    }
    .errorMessageContainer {
      background: #ce0808;
      margin: 5px auto;
      padding: 10px;
      border-radius: 5px;

      .message {
        color: #fff;
      }
    }
  }

  .registerSuccess {
    background: #f1f1f1;
    border-radius: 5px;
    text-align: center;
    padding: 10px;

    p {
      margin-bottom: 0;
      color: $primary-color;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
